.main {
  min-height: 66vh;
}

.partners {
  margin-bottom: 80px;
}

.partners img {
  width: 70%;
  height: auto;
}

.page-title {
  color: #3b6fd8;
  text-transform: uppercase;
  font-size: 32px;
}
