:root {
  --bs-light-rgb: 228, 228, 228;
}

@each $num_columns, $apply in $responsive_text_columns {
  .text-columns-#{$num_columns} {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0em;
    -moz-column-gap: 0em;
    column-gap: 0em;
  }
  @each $scale in ("sm", "md", "lg", "xl") {
    @include media-breakpoint-up($scale) {
      .text-columns-#{$num_columns} {
        -webkit-column-count: map-get(map-get($apply, $scale), "cols");
        -moz-column-count: map-get(map-get($apply, $scale), "cols");
        column-count: map-get(map-get($apply, $scale), "cols");
        -webkit-column-gap: map-get(map-get($apply, $scale), "gutter");
        -moz-column-gap: map-get(map-get($apply, $scale), "gutter");
        column-gap: map-get(map-get($apply, $scale), "gutter");
      }
    }
  }
}

.main {
  min-height: 66vh;
}

.partners {
  margin-bottom: 80px;
}

.partners img {
  width: 70%;
  height: auto;
}

.page-title {
  color: #3b6fd8;
  font-size: 32px;
}

.break {
  background: blue;
  width: 100%;
}
