.exhibition-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include media-breakpoint-down(sm) {
    grid-template-columns: auto;
  }
}

.exhibition-tile {
  padding: 60px;
  align-self: center;
  justify-self: center;

  a {
    text-decoration: none;
    color: $body-color;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px;
  }
}

#exhibitions-swiper {
  height: auto;

  .swiper-slide {
    width: auto;
    user-select: none;
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }

    &-active {
      padding: 5px;
      border: 2px solid $primary;
    }
  }
}

.exhibitions-swiper-wrapper {
  position: relative;
  .swiper-button-prev {
    left: -32px;
  }

  .swiper-button-next {
    right: -32px;
  }
}
