footer {
  font-size: 13px;

  .footer-nav {
    a {
      color: $primary;
      text-decoration: none;
      margin-bottom: 8px;
    }
  }
}

@include media-breakpoint-down(sm) {
  [data-org="wamunet"] img {
    width: 180px;
  }

  [data-org="lwm"] img {
    width: 120px;
  }
}
