.story-slide {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  height: auto;
}

.story-info {
  td {
    vertical-align: top;
    padding: 6px;
  }

  td:first-child {
    color: $primary;
    text-align: right;
    padding-right: 15px;
    vertical-align: top;
  }
}

#stories-swiper {
  height: 120px;

  .swiper-slide {
    width: auto;
    user-select: none;

    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }

    &-active {
      padding: 5px;
      border: 2px solid $primary;
    }
  }
}

.thumbs-swiper {
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    width: auto;
    opacity: 0.4;
    // height: 100%;
    border: 1px solid #ccc;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ccc;
    background-position: center;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
    border-bottom: 4px solid $primary;
  }
}

.stories-swiper-wrapper {
  position: relative;

  .swiper-button-prev {
    left: -32px;
  }

  .swiper-button-next {
    right: -32px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 55px;
}

@include media-breakpoint-down(sm) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 20px;
    top: 25px;
  }

  .swiper-button-next {
    right: 1em !important;
  }

  .swiper-button-prev {
    left: 1em !important;
  }
}
